---
import type { PersonalInfo, SocialProfile } from "../../data";

export interface Props {
  name: PersonalInfo["name"];
  email: SocialProfile["url"];
}

const { name, email } = Astro.props;
---

<section class="mt-8 md:mt-16 mb-16 md:mb-32">
  <p class="text-lg text-gray-800 dark:text-gray-100">Hey 👋, I'm</p>
  <div
    aria-hidden="true"
    class="circle-radial-gradient w-[200px] h-[200px] md:w-[350px] md:h-[350px] absolute top-[150px] md:top-[100px] left-[50px] lg:left-[calc(calc(100vw-1112px)/2)] scale-150 dark:opacity-[.12] opacity-20 -z-10 overflow-hidden mix-blend-normal transition-opacity"
  >
  </div>
  <h1
    class="font-montserrat font-extrabold text-transparent text-6xl md:text-8xl bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 my-6 h-auto md:h-[120px] break-words md:break-normal fadeInBottom"
  >
    {name}
  </h1>
  <p class="text-gray-800 dark:text-gray-100 text-lg">
    Product minded software engineer building things for the web.
  </p>
  <p class="text-gray-800 dark:text-gray-100 text-lg">
    Background in Electrical and Computer Engineering.
  </p>
  <p class="text-gray-800 dark:text-gray-100 text-lg">
    Builder, OSS contributor, AI enthusiast, team-oriented and highly adaptable, enjoy fast-paced
    environments.
  </p>
  <br />
  <p class="text-gray-800 dark:text-gray-100 text-lg">
    Tennis. Soccer (go FCPorto!). Travel. Food. <a
      class="text-indigo-600 dark:text-indigo-300 text-lg"
      href="https://trakt.tv/users/nip10"
      target="_blank"
      rel="noopener">Movies. Tv shows.</a
    > Music. <a
      class="text-indigo-600 dark:text-indigo-300 text-lg"
      href="https://www.goodreads.com/user/show/146957216-diogo-cardoso"
      target="_blank"
      rel="noopener">Books.</a
    > Tech. Finance. Product & Growth. AI.
  </p>
  <br />
  <p class="text-gray-800 dark:text-gray-100 text-lg">
    Available for freelance work. If you have a project that you want to get
    started, think you need my help with something or just fancy saying hey,
    then <a
      class="text-indigo-600 dark:text-indigo-300 text-lg"
      href={`mailto:${email}`}>get in touch</a
    >.
  </p>
</section>

<style lang="css">
  .circle-radial-gradient {
    background: radial-gradient(circle, #a855f7 0, rgba(161, 252, 70, 0) 71%);
  }
</style>
