---
import type { PersonalInfo, SocialProfile } from "@data";

const { name, socialMediaProfiles } = Astro.props as {
  name: PersonalInfo["name"];
  socialMediaProfiles: SocialProfile[];
};
---

<footer
  class="container flex sm:flex-row flex-col justify-between items-center mb-8 sm:mb-4"
>
  <p class="dark:text-gray-100 text-right my-8 font-montserrat">
    Developed by <strong>{name}</strong>
  </p>
  <div class="grid grid-cols-5 gap-4">
    {
      socialMediaProfiles.map((socialMediaProfile) => (
        <a
          aria-label="Social Media"
          href={socialMediaProfile.url}
          target="_blank"
          class="footer-icons"
        >
          {socialMediaProfile.iconSvg}
        </a>
      ))
    }
  </div>
</footer>
